// -----------------------------------------------------------------------------
// Footer of the site/application
// -----------------------------------------------------------------------------
footer {
  position: relative;
  height: 50px;
  .nav-button-line {
    position: fixed;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: white;
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: 50px;
      height: 50px;
      a {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
