// -----------------------------------------------------------------------------
// Footer of the site/application
// -----------------------------------------------------------------------------

.nav-button-line {
    display: flex;
    width: 100%;
    justify-content: space-around;
}