<div>
  <div>
    <h5>В программе</h5>
    <ul class="list-group">
      <li class="list-group-item">Угощаемся блинами</li>
      <li class="list-group-item">
        Фотографируемся на фотозоне в костюмах Древней роси
      </li>
      <li class="list-group-item">
        Встречи с Управой, участковым и управляющей компании
      </li>
      <li class="list-group-item">Зажигательные конкурсы и интересные призы</li>
      <li class="list-group-item">Для детей будет будетч</li>
      <li class="list-group-item">Выступление кавер группы Ландыши</li>
    </ul>
    <p>Приходите и проводите своих друзей и знакомых</p>
  </div>
  <div>
    <p>
      А программа конкурсов начинаеться прямо сейчас: Загляните в другие
      страницы сайта и узнайте как вы можете заработать альтыны и на что их
      можно потратить
    </p>
  </div>
</div>
