<div>
  <div>
    <h5>В программе</h5>
    <ul>
      <li>Угощаемся блинами</li>
      <li>Фотографируемся на фотозоне в костюмах Древней роси</li>
      <li>Встречи с Управой, участковым и управляющей компании</li>
      <li>Зажигательные конкурсы и интересные призы</li>
      <li>Для детей будет будетч</li>
      <li>Выступление кавер группы Ландыши</li>
    </ul>
    <p>Приходите и проводите своих друзей и знакомых</p>
  </div>
  <div>
    <p>
      А программа конкурсов начинаеться прямо сейчас: Загляните в другие
      страницы сайта и узнайте как вы можете заработать альтыны и на что их
      можно потратить
    </p>
  </div>
</div>
