<div>
  <a>
    <img src="#" alt="" />
    <span>Узнать про мероприятие</span>
  </a>
</div>
<div>
  <a>
    <img src="#" alt="" />
    <span>Сканировать QR код</span>
  </a>
</div>
<div>
  <a>
    <img src="#" alt="" />
    <span>Правила игры</span>
  </a>
</div>
<div>
  <a>
    <img src="#" alt="" />
    <span>Проверь себя</span>
  </a>
</div>
<div class="btn-nav-five">
  <a>
    <img src="#" alt="" />
    <span>Управление мероприятием</span>
  </a>
</div>

<div class="btn-nav-five">
  <a href="../../profil.html">
    <img src="#" alt="" />
    <span>Профиль</span>
  </a>
</div>
