<footer>
  <ul class="nav-button-line">
    <li>
      <a>
        <img src="../../images/navicons/home.png" alt="" />
      </a>
    </li>
    <li>
      <a>
        <img src="../../images/navicons/google-docs.png" alt="" />
      </a>
    </li>
    <li>
      <a>
        <img src="../../images/navicons/qr-code-scan.png" alt="" />
      </a>
    </li>
    <li>
      <a>
        <img src="../../images/navicons/question-mark.png" alt="" />
      </a>
    </li>
    <li>
      <a>
        <img src="../../images/navicons/settings.png" alt="" />
      </a>
    </li>
    <li>
      <a>
        <img src="../../images/navicons/user.png" alt="Профиль" />
      </a>
    </li>
  </ul>
</footer>
