<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>WEVO</title>
    <meta name="description" content="" />
    <%= require('html-loader!./partials/head.html') %>
  </head>
  <body>
    <%= require('html-loader!./partials/browserupgrade.html') %>
    <div class="position-relative">
      <%= require('html-loader!./partials/header.html') %>

      <main>
        <section class="welcome-section">
          <%= require('html-loader!./components/welcome.html') %>
        </section>
        <section>
          <%= require('html-loader!./components/InfoProgramm.html') %>
        </section>
      </main>

      <%= require('html-loader!./partials/footer.html') %>
    </div>
  </body> 
</html>
