<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>Alif Academy</title>
    <meta name="description" content="" />
    <%= require('html-loader!./partials/head.html') %>
  </head>
  <body>
    <%= require('html-loader!./partials/browserupgrade.html') %>
    <div class="d-flex flex-column h-100">
      <%= require('html-loader!./partials/header.html') %>

      <main class="h-100 d-flex flex-column">
        <section class="welcome-section">
          <%= require('html-loader!./components/welcome/welcome.html') %>
        </section>
        <section class="navigation-button-section">
          <%=
          require('html-loader!./components/NavigationButtons/navigationbutton.html')
          %>
        </section>
      </main>
    </div>
  </body>
</html>
