<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>Профиль</title>
    <meta name="description" content="" />
    <%= require('html-loader!./partials/head.html') %>
  </head>
  <body>
    <div class="d-flex flex-column h-100">
      <header class="header-profile">
        <h2>Профиль</h2>
      </header>
      <main class="h-100 d-flex flex-column">
        <section>
          <div>
            <img src="" alt="" />
            <span>Александров Александр</span>
            <i>></i>
          </div>
        </section>
        <section>
          <ul>
            <li>Баланс</li>
            <li>Уведомления</li>
            <li>мои рекомендации</li>
            <li>Подписки на звонки</li>
            <li>Мои объявления</li>
          </ul>
        </section>
        <section>
        </section>
      </main>
      <%= require('html-loader!./partials/footer.html') %>
    </div>
  </body>
</html>
