<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>Профиль</title>
    <meta name="description" content="" />
    <%= require('html-loader!./partials/head.html') %>
  </head>
  <body>
    <div class="d-flex flex-column h-100">
      <header class="header-profile">
        <h5>Профиль участника игры "Добрососедстов" Квартира №___</h5>
      </header>
      <main class="h-100 d-flex flex-column">
        <section></section>
        <section></section>
        <section></section>
      </main>
      <%= require('html-loader!./partials/footer.html') %>
    </div>
  </body>
</html>
